<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <title>E-Commerce-CQ</title>
    </head>
    <style>
        #Empty {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #94dbd7;
            color: #000000;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
        }

        #Empty.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        #success {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #94dbd7;
            color: #000000;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
        }

        #success.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #Error {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #ff5858;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
        }

        #Error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
        body {
            background-color: aliceblue
        }
        .mybtn{
            height: 5vh;
        }
        @media only screen and (max-width: 600px) {
            body {
                background-color: rgb(0, 97, 114);
            }
            .mybtn {
                height: 10vh;
            }
            .m-4 {
                margin: 1.5rem !important;
                font-size: 17px;
            }
        }
    </style>

    <body style="background-color: rgb(237, 205, 197);">
        <%if(name.length>2){ %>
            <% name=JSON.parse(name) %>
            <%- include('head',{name:name,item:0}) %>
        <%}else{%>
            <%- include('header',{name:JSON.parse(name)}) %>
        <% } %>
        <div class="container d-flex justify-content-around">
            <h4 class="m-4">Welcome to Admin portal
                <%= name.name %>
            </h4>
            <a href="/addproduct"><button class="btn mybtn btn-warning btn-sm mt-4">Add Product</button></a>
        </div>
        <div id="success">Updated the data succesfully</div>
        <div id="Error">Could Not Update the data</div>
        <div id="Empty">Please fill all the fields</div>
        <% size=parseInt(size) %>
        <div class="container-fluid">
            <div class="row">
                <% for(let i=0;i<size;i++){ %>
                    <div>
                        <div class="card mx-2 my-1" style="background-color: #f9cdbd8f; width: 18rem;">
                            <img class="card-img-top mb-2" src=<%=products[i].image %> alt="Card
                                                                                                                    image cap" height="200" style="padding:3vh;">
                            <div class="card-body">
                                <input type="hidden" name="id" value="<%= products[i].id%>">
                                <h5 class="card-title">
                                    <input type="text" name="name" value="<%= products[i].name %>">
                                </h5>
                                <p class="card-text">
                                    <input type="text" name="details" value="<%= products[i].details%>">
                                </p>
                                <p class="card-text">
                                    $
                                    <input type="text" name="price" value="<%= products[i].price %>">
                                </p>
                                <button type="submit" class="btn btn-danger btn-sm mx-1" onclick="update(this)">Update</button>
                                <a class="mx-4" href="/deleteProduct/<%= products[i].id %>">
                                    <span class="btn btn-sm btn-primary detailBtn">Delete</span>
                                </a>
                            </div>


                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" id="toadd"></div>
        </div>
        <div class="container-fluid my-5 ml-3">
            <button id="showMore" onclick="nextProducts(this)" class="btn btn-sm btn-success">Show More</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- Script starts here  -->
        <script>
            console.log("Hello meeting")
            let modal = document.getElementById("myModal");
            let btn = document.getElementsByClassName("detailBtn");
            let toadd = document.getElementById("toadd");
            let moreProducts = 1;
            function nextProducts(e) {
                var request = new XMLHttpRequest();
                request.open("post", "/getproducts");
                request.setRequestHeader("Content-type", "application/json");
                let value = {
                    quantity: moreProducts
                }
                request.send(JSON.stringify(value));
                moreProducts++;
                request.addEventListener('load', () => {
                    setProducts(JSON.parse(request.responseText));
                })
            }
            function setProducts(products) {
                if (products.length) {
                    products.forEach((e) => {
                        let div1 = document.createElement('div');
                        div1.innerHTML = `
                <div>
                    <div class="card mx-2 my-1" style="background-color: #f9cdbd8f; width: 18rem;">
                    <img class="card-img-top mb-2" src="${
                            e.image
                        }" alt="Card image cap" height="200"
                    style = "padding:3vh;">
                    <div class="card-body">
                        <input type="hidden" name="id"
                            value="${
                            e.id
                        }">
                        <h5 class="card-title">
                            <input type="text" name="name"
                                value="${
                            e.name
                        }">
                        </h5>
                        <p class="card-text">
                        <input id = "${
                            e.id
                        }" type="text" name="details" value="${
                            e.details
                        }">
                        </p>
                        <p class="card-text">  
                        $ <input type="text" name = "price" value="${
                            e.price
                        }">
                        </p>
                        <button class="btn btn-danger btn-sm mx-1" onclick="update(this)">Update</button>
                        <a class = "mx-4" href="/deleteProduct/${
                            e.id
                        }">
                            <span class="btn btn-sm btn-primary deleteBtn">Delete</span>
                        </a>
                    </div>
                    </div>
                </div>
                `
                        toadd.appendChild(div1);
                    })
                }
            }
            function update(e, id) {
                let name = e.previousElementSibling.previousElementSibling.previousElementSibling.children[0].value;
                let pId = e.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
                let price = e.previousElementSibling.children[0].value;
                let details = e.previousElementSibling.previousElementSibling.children[0].value;
                if ((name.replace(/\s/g, '').length <= 0 && name != '') || (name === "")){
                    showEmpty()
                }
                else if((price.replace(/\s/g, '').length <= 0 && price != '') || (price === "") )
                {
                    showEmpty()
                }
                else if((details.replace(/\s/g, '').length <= 0 && details != '') || (details === ""))
                {
                    showEmpty()
                }
                else{
                let user = {
                    id: pId,
                    name: name,
                    price: price,
                    details: details
                }
                sendRequest(user);
            }
            }
            function showSuccess() {
                var x = document.getElementById("success");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            function showEmpty() {
                var x = document.getElementById("Empty");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            function showError() {
                var x = document.getElementById("Error");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            function sendRequest(user) {
                var request = new XMLHttpRequest();
                request.open("post", "/update");
                request.setRequestHeader("Content-type", "application/json");
                request.send(JSON.stringify(user));
                request.addEventListener('load', () => {
                    let status = JSON.parse(request.responseText);
                    if (status.value > 0) {
                        showSuccess();
                    } else {
                        showError();
                    }

                })
            }
        </script>
    </body>

</html>
